body {
  text-align: center;
  background-color: #d1dbd8;
}

.App-link {
  color: #61dafb;
}

.navbar-link {
  display: inline-block;
  width: 180px;
  padding: 12px;
  margin: 0 6px 6px;
  background: rgb(59, 148, 172);
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight:600;
}

.navbar-link.active,
.navbar-link.activeLink {
  background: rgb(105, 105, 140);
}

form {
  margin-bottom: 20px; 
}

input[type="text"] {
  width: 50%; 
}


  .EventsDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .EventTile {
    width: 350px;
    padding: 16px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }


  input,
select {
  width: 10%; 
  padding: 5px; 
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sign-in-form {
  margin: 20px;
  padding: 20px;
  }

  .signup-input {
    width:50%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 100px;
  }

  
  .ReviewTile {
    width: 350px;
    padding: 16px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
   
  }

  button:hover {
    cursor: pointer;
  }