#home-image {
    width: 650px;
    height: 400px;
    max-width: 100%;
  }

#homepage-image{
  padding-top: 30px;
}

#home-div {
  width: 100vw; 
  height: 500px;
  padding: 20px; 
  box-sizing: border-box;
  text-align: center
}

