.navbar-link {
    display: inline-block;
    width: 180px;
    padding: 12px;
    margin: 0 6px 6px;
    background: rgb(59, 148, 172);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight:600;
  }
  
  .navbar-link.active,
  .navbar-link.activeLink {
    background: rgb(105, 105, 140);
  }